body {
    color: #333;
}

h1 {
    margin-top: 0;
}

a {
    font-weight: bold;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 2px;
    padding: 0 2px;
}

.help {
    font-size: small;
    color: #c09853;
    background-color: #fcf8e3;
    padding: 0px 14px;
    border: 1px solid #fbeed5;
    border-radius: 4px;
}

.hide {
    display: none;
}
